<h1>Welcome</h1>
<p>Welcome to NotesPlace</p>
<p>Post notes and articles about the things you wish to save, share or read later from the best and worst of your experiences. Oh! you can also choose to keep your notes completely private as your own personal diary or make it publicly readable to the world </p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}